<a href="https://colab.research.google.com/github/Shubham4723/Python/blob/main/Lab6ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q.1) Write a python program to find the number of items available in the list.

In [ ]:
a = [1, "Tho", 54, "ttyl"]
print(" No of items available in the list = ", len(a))

 No of items available in the list =  4

Q.2) Write a python program to find the largest number from a list.

In [ ]:
a = [95, 2, 56, 21, 78, 0, 3, 76, 4]
y = int(len(a))
a.sort()
print(" Largest no = ", a[y-1])

 Largest no =  95

Q.3) Write a python program to find sum of all the items in a list.

In [ ]:
a = [95, 2, 56, 21, 78, 0, 3, 76, 4]
print(" Sum of all the items in a list = ", sum(a))

 Sum of all the items in a list =  335

Q.5) Write a python program to sort the elements of the given list in descending order

In [ ]:
a = ['x', 'a', 'k', 'r', 'z', 'b', 't']
a.sort()
a.reverse()
print(" Elelments of list in descending order = ", a)

 Elelments of list in descending order =  ['z', 'x', 't', 'r', 'k', 'b', 'a']

Q.6) Write a python program to create two lists and join the second list with the first, then display the resultant list.

In [ ]:
a = [75, 13, 45, 2, 90, 22, 54, 6]
b = ['f', 'y', 'd', 'a', 't', 'w']

print(" Resultant list = ", a+b)

 Resultant list =  [75, 13, 45, 2, 90, 22, 54, 6, 'f', 'y', 'd', 'a', 't', 'w']

Q.7) Write a python program to reverse a tuple.

In [ ]:
a = (1, 2, 3, 4, 5)
print(" Reversed tuple = ", tuple(reversed(a)))

 Reversed tuple =  (5, 4, 3, 2, 1)

Q.8) Write a python program to convert a tuple to a string.

In [ ]:
a = ('a', 'h', 'd', 's', 'd', 'u', 'h', 'h', 'r', 'h', 'w')
s = ''.join(a)
print(" Output = ", s)

 Output =  ahdsduhhrhw

Q.9) Write a python program to convert a list to a tuple.

In [ ]:
a = [1, 4, 5, 7, 8, 34, 11, 0, 6, 4]
print(" Output = ", tuple(a))

 Output =  (1, 4, 5, 7, 8, 34, 11, 0, 6, 4)

Q.4) Write a python program to split the given list into 3 sub-lists as per your requirement.

In [ ]:
a=[9, 34, 67, 0, 11, 54, 34, 32]
x=int(input("Enter the 1st breakpoint :"))
y=int(input("Enter the 2nd breakpoint :"))
b=a[:x:1]
c=a[x:y:1]
d=a[y::1]
print(b)
print(c)
print(d)

Enter the 1st breakpoint :2
Enter the 2nd breakpoint :4
[9, 34]
[67, 0]
[11, 54, 34, 32]