<a href="https://colab.research.google.com/github/Shubham4723/Python/blob/main/Lab7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q.1) Write a python program to create a dictionary with a set of key value pair and fetch the value according to the specified key.

In [ ]:
Dict1 = {
          "Mexico" : "Tacos",
          "Japan" : "Sushi",
          "Germany" : "Beer",
          "England" : "Fish n chips",
          "China" : "Bat soup"
}

print(Dict1.get("Mexico"))

Tacos

Q.2) Write a python program to create an empty dictionary and add the key value pairs to this dictionary.

In [ ]:
Dict2 = {}
Dict2['Ireland'] = "Dublin"
Dict2['Serbia'] = "Belgrade"
Dict2['Norway'] = "Oslo"
Dict2['Poland'] = "Warsaw"
Dict2['Hungary'] = "Budhapest"
print(Dict2)

{'Ireland': 'Dublin', 'Serbia': 'Belgrade', 'Norway': 'Oslo', 'Poland': 'Warsaw', 'Hungary': 'Budhapest'}

Q.3) Write a python program to concatenate two dictionaries to create a new one.

In [ ]:
Dict1.update(Dict2)
print(Dict1)

{'Mexico': 'Tacos', 'Japan': 'Sushi', 'Germany': 'Beer', 'England': 'Fish n chips', 'China': 'Bat soup', 'Ireland': 'Dublin', 'Serbia': 'Belgrade', 'Norway': 'Oslo', 'Poland': 'Warsaw', 'Hungary': 'Budhapest'}

Q.4) Write a python program to remove a key from a dictionary.

In [ ]:
Dict1.pop('China')
print(Dict1)

{'Mexico': 'Tacos', 'Japan': 'Sushi', 'Germany': 'Beer', 'England': 'Fish n chips'}

Q.5) Write a python program to sort a dictionary by key.

In [ ]:
Dict1 = sorted(Dict1.items())
print(Dict1)

[('England', 'Fish n chips'), ('Germany', 'Beer'), ('Japan', 'Sushi'), ('Mexico', 'Tacos')]

Q.6) Write a python program to create a set and add some elements in it. Also try to add repeating elements, then print the set.

In [ ]:
set1 = {1,2,3}
print(set1)
set1.add(4)
set1.add(5)
set1.add(5) # Repeated addition
set1.add(6)
print(set1)

{1, 2, 3}
{1, 2, 3, 4, 5, 6}

Q.7) Write a python program to add a tuple in an existing set and print the updated set. Also remove a specific element from the set and print.

In [ ]:

set1.add((4,44,444))
print(set1)
set1.remove(2)
print(set1)

{1, 2, 3, (4, 44, 444)}
{1, 3, (4, 44, 444)}

Q.8) Write a python program to create a set which is a union of two sets.

In [ ]:

set2 = {3, 4, 5, 6}
print(set1.union(set2))

{1, 3, 4, 5, 6, (4, 44, 444)}

Q.9) Write a python program to check if a set is a subset of another set.

In [ ]:
print(set1)
print(set2)
set3 = {1, 2, 3, 4, 5, 6}
print(set1.issubset(set3))
print(set2.issubset(set3))

{1, 3, (4, 44, 444)}
{3, 4, 5, 6}
False
True