In [4]:
#LIST

In [3]:
list1 = ["car","bus","truck"]
touple1=("boat","bike","cycle")
list1.extend(touple1)
print(list1)

['car', 'bus', 'truck', 'boat', 'bike', 'cycle']

In [5]:
list1 = ["car","bus","truck"]
list1.remove("bus")
print(list1)

['car', 'truck']

In [6]:
list1 = ["car","bus","truck"]
list1.pop()
print(list1)

['car', 'bus']

In [7]:
list1 = ["car","bus","truck"]
list1.clear()
print(list1)

[]

In [8]:
list1 = ["car","bus","truck"]
[print(x) for x in list1]

car
bus
truck

[None, None, None]

In [9]:
list1 = ["car","bus","truck"]
list1.reverse()
print(list1)

['truck', 'bus', 'car']

In [10]:
list1 = ["car","bus","truck"]
list2=list1
print(list2)

['car', 'bus', 'truck']

In [11]:
list1 = ["car","bus","truck"]
print(len(list1))

3

In [12]:
list1 = ["car","bus","truck","boat","bike","cycle"]
list2=list1[-4:-2]
print(list2)

['truck', 'boat']

In [2]:
List2 = [10, 44, 23, 67, 59, 88, 50]
List2.sort()
print(List2)
print(List2[-1])

[10, 23, 44, 50, 59, 67, 88]
88

In [3]:
print(sum(List2))

341

In [5]:
n1 = int(input("Enter number1: "))
n2 = int(input("Enter number2: "))
List5 = [10, 20, 30, 40, 50, 60, 70]
l1 = List5[:n1]
l2 = List5[n1:n2]
l3 = List5[n2:]
print(l1)
print(l2)
print(l3)

Enter number1: 20
Enter number2: 10
[10, 20, 30, 40, 50, 60, 70]
[]
[]

In [6]:
List3 = [12, 45, 56, 78, 22, 42, 90, 50]
List3.sort()
List3.reverse()
print(List3)

[90, 78, 56, 50, 45, 42, 22, 12]

In [7]:
List4 = [10, 20, 30]
List5 = [40, 50, 60]
print(List4 + List5)

[10, 20, 30, 40, 50, 60]

In [8]:
Tuple1 = 'Apple', 'Ball', 'Cat', 'Dog', 'Elephant', 'Fish'
print(tuple(reversed(Tuple1)))

('Fish', 'Elephant', 'Dog', 'Cat', 'Ball', 'Apple')

In [10]:
Tuple2 = 'R', 'A', 'J', 'U'
print(type(Tuple2))
str = ''.join(Tuple2)
print(type(str))
print(str)
st1 = "Raja"
print(st1)

<class 'tuple'>
<class 'str'>
RAJU
Raja

In [14]:
list2 = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5]
list3 = list()
for i in list2:
  if i not in list3:
    list3.append(i)
print(list3)

[1, 2, 3, 4, 5]

In [15]:
sum = 0
for i in list3:
  sum = sum + i
print(sum)

15

In [16]:
Set1 = set()
print(type(Set1))
Set1.add(343)
Set1.add(342)
Set1.add(341)
Set1.add(339)
Set1.add(333)
Set1.add(343)
print(Set1)

<class 'set'>
{333, 339, 341, 342, 343}

In [17]:
Set1.add((123, 456, 789))
print(Set1)
Set1.remove(342)
print(Set1)

{333, (123, 456, 789), 339, 341, 342, 343}
{333, (123, 456, 789), 339, 341, 343}

In [18]:
Set2 = set()
Set2.add(111)
Set2.add(222)
Set2.add(333)

Set3 = set()
Set3 = Set1.union(Set2)
print(Set3)

{339, 341, (123, 456, 789), 343, 333, 222, 111}

In [19]:
print(Set2.issubset(Set3))

True